body {
    background-image: url("background-picture.svg");
    min-height: 100vh;
}

.gameContent {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    margin-top: 80px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px rgb(16, 3, 201);
}

.pageSubtitle {
    text-align: center;
    text-align: center;
    color: rgb(56, 56, 56);
    font-family: 'Open Sans', sans-serif;
}

#computerSelection {
    margin: 20px 0;
    text-align: center;
    width: 70%;
    color: rgb(126, 7, 7);
    font-family: 'Open Sans', sans-serif;
}

.gameButton {
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    height: 70px;
    width: 200px;
    font-size: 40px;
    color: black;
    background-color: fuchsia;
    text-decoration: none;
    box-shadow: 2px 2px rgb(8, 82, 194);
    cursor: pointer;
}

#restartBtn {
    background-color: crimson;
    box-shadow: 2px 2px rgb(163, 12, 233);
    border-radius: 12px;
    margin: 30px 0;
}

.gameButton:active, #restartBtn:active {
    box-shadow: 0 0;
    transform: translate(2px, 2px);
}

.playingText {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(56, 42, 42);
    text-align: center;
}

#resultsText {
    font-weight: bold;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 60, 83);
}

#results {
    font-size: 25px;
}

#gameText {
    color: rebeccapurple;
    font-size: 28px;
    font-weight: 550;
    padding-top: 10px;
    padding-bottom: 20px;
}

#rock {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#scissors {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}