body 
{
    background-image: url("background-picture.jpg");
}
img { max-width: 100%; }

h1
{
    padding-top: 50px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}
h2 
{
    padding-top: 50px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: rgb(209, 195, 195);
    font-family: 'Open Sans', sans-serif;
}
h3
{
    padding-bottom: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: rgb(247, 156, 156);
    font-family: 'Open Sans', sans-serif;
}
.playingButtons 
{
    padding: 50px 0px 20px 0px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.allButtons
{
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    height: 70px;
    width: 200px;
    font-size: 40px;
    color: black;
    background-color: fuchsia;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
}
.playingText
{
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
    
}
#resultsText{
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(209, 195, 195);
}
#gameText
{
    font-size: 28px;
    font-weight: 550;
    padding-top: 10px;
    padding-bottom: 20px;
}